/*-------------- Footer --------------*/
footer {
  margin-top: 50px;
  display: block;
  text-align: center;
}
.attribution {
  padding: 20px 0 30px 0;
  line-height: 1.5;
}
.footer-link:hover {
  color: #f15e50;
}
