<header role="navigation">
  <nav class="navbar">
    <a href="#" class="nav-logo">
      <img src="../../../assets/images/logo.svg" alt="logo" />
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">New</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Popular</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Trending</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Categories</a>
      </li>
    </ul>
    <!-- Nav-Menu-Mobile -->
    <ul #mobile class="nav-menu-mobile">
      <li class="nav-item-mob">
        <a href="#" class="nav-link-mob">Home</a>
      </li>
      <li class="nav-item-mob">
        <a href="#" class="nav-link-mob">New</a>
      </li>
      <li class="nav-item-mob">
        <a href="#" class="nav-link-mob">Popular</a>
      </li>
      <li class="nav-item-mob">
        <a href="#" class="nav-link-mob">Trending</a>
      </li>
      <li class="nav-item-mob">
        <a href="#" class="nav-link-mob">Categories</a>
      </li>
    </ul>
    <button (click)="modificar()" #myButton class="hamburger">
      <div class="bar"></div>
    </button>
  </nav>
</header>
