/* --------------Noticias---------------*/
.news {
  display: flex;
  flex-direction: column;
  background-color: #00001a;
  color: #fffdfa;
  padding: 3px 20px;
  line-height: 1.5;
}
.new-noticias {
  padding: 25px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #c5c6ce;
}
.last-noticias {
  border: none;
  padding-bottom: 10;
}
.new-noticias h3 {
  padding-bottom: 10px;
}
.new-noticias h3:hover {
  color: #e9ab53;
}
.new-noticias p {
  padding-bottom: 8px;
  color: #c5c6ce;
}

@media screen and (max-width: 1130px) {
  .news header {
    padding-top: 10px;
  }
}
